.app_wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 20px 18px 0px 18px;
}

h1 {
  color: #f4ad00;
  width: 100%;
  display: block;
  text-align: left;
  padding: 0px 18px;
}

.s-1 {
  margin-top: 10px;
  color: #fff;
  width: 95vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  section {
    margin-bottom: 15px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    img {
      width: 27px;
      height: 27px;
      border-radius: 50px;
      margin-right: 8px;
    }

    span {
      font-weight: bold;
      font-size: 20px;
      color: #f4ad00;
    }
  }

  p {
    display: block;
    width: 100%;
    text-align: left;
  }
}

.s-2 {
  width: 95vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 40px;
  border-radius: 20px;

  h2 {
    color: #fff;
    font-size: 22px;
    width: 100%;
    display: block;
    text-align: left;
    margin-bottom: 15px;
  }
}


.fl-wrap{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 7px 0px;

  .step-sp{
    color:#fff;
  }

  .f-l {
    margin-top: 15px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 20px;
    padding: 20px 14px;
    text-decoration: none;
    border: 1px solid #fff;
  
    img {
      width: 50px;
      height: 50px;
      border-radius: 15px;
      margin-right: 20px;
    }
  
    .check {
      background: #1C1C1C;
      width: 50px;
      height: 50px;
      margin-right: 20px;
      border-radius: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
  
      .ci{
        width: 25px;
        height: 25px;
        margin: 0 auto;
      }
    }
  
    section {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      font-weight: bold;
  
      p {
        margin-bottom: 10px;
        color: #ffffff;
      }
  
      span {
        color: rgb(115, 115, 115);
      }
    }
  }
}
